body{
    margin: 0;
}

#site_header{
    padding: 10px 20px;
    background-color: cadetblue;
    margin-bottom: 50px;
}

#site_header p{
    font-size: 1.5rem;
    font-family: "Comic Sans MS";
    font-weight: bold;
    display: inline;
    margin-right: 5vw;
}

#site_header a{
    text-decoration: none;
    color: white;
    margin-right: 1vw;
}
a{
    text-decoration: none;
}

.error{
    color: red;
    font-family: "Comic Sans MS";
}

#site_footer{
    margin-top: 50px;
    text-align: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-bottom: 0;
}