<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
    <div th:replace="~{components::header}"></div>
    <h1 class="hoofding">About:</h1>
    <p class="ondertekst">Dit is de Anderlechts Gazet. Hier kunt u alle infomatie vinden over de gebeurtenissen in Anderlecht.</p><br>
    <p class="ondertekst">Ons adres is: Nijverheidskaai 170, 1070 Anderlecht</p><br>
    <p class="ondertekst">Contacteer ons op: 02 555 55 55 Of Email on op: Gazet.van.Anderlecht@info.be</p>
    <div th:replace="~{components::footer}"></div>
</body>
</html>