<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
    <header th:replace="~{components::header}"></header>
    <h1 class="hoofding">De Gazet van Anderlecht heet u welkom.</h1>
    <h2 class="ondertekst">Laatste nieuws:</h2>
    <div class="news-container" th:unless="${TopNews.isEmpty()}">
            <div th:each="n : ${TopNews}" class="news">
                <h3 th:text="${n.naam}"></h3>
                <p th:text="'Geschreven door: ' + ${n.reporterNaam}"></p>
                <a th:href="@{/details/{id}(id=${n.id})}">
                    <button id="news-button">Details</button>
                </a>
            </div>
    </div>
    <div id="Empty-news-container" th:if="${TopNews.isEmpty()}">
            <h2 class="ondertekst">Nog geen nieuws.</h2>
    </div>
    <button id="nieuw-button"><a th:href="@{/new}">Nieuw artikel maken</a></button>
    <footer th:replace="~{components::footer}"></footer>
</body>
</html>