<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
    <div th:replace="~{components::header}"></div>
    <h1>Hello</h1>
    <button><a th:href="@{/new}">New article</a></button>
    <div id="news-container" th:unless="${TopNews.isEmpty()}">
        <h2>News:</h2>
            <div th:each="n : ${TopNews}">

                    <h3 th:text="${n.naam}"></h3>
                    <p th:text="#{label.category} + ${n.categorie}"></p>
                    <h4 th:text="${n.inhoud}"></h4>
                    <span th:text="${n.reporterNaam}"></span>
                    <span th:text="${n.reporterEmail}"></span>
            </div>
    </div>
    <div id="Empty-news-container" th:if="${TopNews.isEmpty()}">
        <h2>No news found.</h2>
    </div>
    <div th:replace="~{components::footer}"></div>
</body>
</html>